.ava {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    object-fit: cover;
}

.user {
    margin: 5px;
    padding: 10px;
    border: 2px solid rgb(230, 180, 173);
    display: flex;
    justify-content: space-between;
}
.innerBlock_10 {
    width: 10%;
    text-align: center;
}
.innerBlock_20 {
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.innerBlock_70 {
    width: 70%;
    display: flex;
    justify-content: end;
}