.sidebar {
    margin-top: 125px;
}
.sidebar h2 {
    text-transform: capitalize;
    color: #fff;
    font-weight: 100;
    text-align: center;
}
.sidebar .friends {
    margin-top: 30px;
    display: flex;
}
.sidebar .friends img {
    width: 30px;
    border-radius: 100%;
}
.sidebar .friends li {
    text-align: center;
    margin: 10px;
    max-width: 60px;
    overflow: hidden;
}