.postBlock {
    padding: 10px;
}
.postBlock .posts {
    margin-top: 10px;
}
.postButton {
    outline: none;
    border: 1px solid lightslategray;
    background-color: transparent;
    padding: 8px;
    margin: 5px;
    border-radius: 3px;
    cursor: pointer;
    color: #fff;
}
.postForm textarea {
    width: 30%;
    min-height: 80px;
    resize: none;
    margin: 10px 0;
    padding: 10px;
}
.postForm .postButtonContainer {
    width: 30%;
    text-align: right;
}