.App_header {
    grid-area: head;
    background-color: #444;
    display: flex;
    justify-content: space-between;
  }
.App_header img {
    width: 140px;
    height: 120px;
}
.login {
  margin: 10px;
}
.login a{
  text-decoration: none;
  color: #fff;
}