.App_header {
    grid-area: head;
    background: linear-gradient(90deg,rgb(34, 82, 36),rgb(57, 89, 100),rgb(104, 94, 219));
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
  }
.App_header .logo {
  align-self: center;
}
.App_header img {
    width: 140px;
    height: 120px;
}
.login {
  margin: 10px;
}
.login a {
  text-decoration: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
  color: #fff;
}
.loginButton {
  outline: none;
  border: 1px solid lightslategray;
  background-color: transparent;
  padding: 3px;
  border-radius: 3px;
  cursor: pointer;
  color: #fff;
}