.sidebar {
    margin-top: 125px;
}
.sidebar h2 {
    text-transform: capitalize;
    color: #fff;
    font-weight: 100;
    text-align: center;
}
.sidebar .friends {
    margin-top: 30px;
    display: flex;
}
.sidebar .friends img {
    position: absolute;
    width: 30px;
    border-radius: 100%;
    bottom: 15px;
}
.sidebar .friends li {
    position: relative;
    margin: 10px;
}