* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App {
  display: grid;
  grid-template-areas: 
  "head head"
  "nav cont";
  grid-template-rows: 150px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 10px;
  width: 1200px;
  margin: 0 auto;
}

.App_content_wrapper {
  grid-area: cont;
  background-color: rgb(32, 248, 158);
}