.App_nav {
  grid-area: nav;
  background: linear-gradient(90deg,rgb(58, 113, 61),rgb(109, 96, 230));
  padding: 20px;
  position: relative;
}
.App_nav ul {
  list-style: none;
}
.App_nav a {
  text-decoration: none;
  color: inherit;
}
.item {
  color: #fff;
}
.item a.active {
  color: gold;
}
 